@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

// COLOR
$cl-desaturated-red: hsl(0, 36%, 70%);
$cl-soft-red: hsl(0, 93%, 68%);
$cl-grayish-red: hsl(0, 6%, 24%);
$cl-white: hsl(0, 0%, 100%);
$cl-white-2: hsl(0, 100%, 98%);
$cl-rose: hsl(0, 80%, 86%);
$cl-rose-2: hsl(0, 74%, 74%);

// FONT-FAMILY
$ff-josefin-sans: "Josefin Sans", sans-serif;

// FONT-SIZE
$fs-small: 1.4rem;
$fs-normal: 1.6rem;
$fs-medium: 2.2rem;
$fs-xxlarge: 6.4rem;

// FONT-WEIGHT
$fw-xtiny: 300;
$fw-tiny: 400;
$fw-small: 500;
$fw-medium: 600;
$fw-large: 700;

// MIXIN
@mixin transitionAll {
	transition: all 0.2s;
}
